modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "streamlit run app.py --server.address=0.0.0.0 --server.port=8502"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
author = 29498440

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.address=0.0.0.0 --server.port=8502"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8501
externalPort = 3000

[[ports]]
localPort = 8502
externalPort = 3001
